@charset "utf-8";

body{ font:0.75em 'microsoft yahei'; color:#353535;}
a{ text-decoration:none; color:#353535;}
a:hover{ text-decoration:none;}

/*bg*/
.bg14{ background-color:#ebebeb;}

/*container*/
#container{ width:100%; max-width:640px; min-width:320px; margin:0 auto;}

/*footer*/
#footer{ padding:2.3% 2.65%; background-color:#3a4148;}
#footer nav{ margin-bottom:3%; opacity:0.7;}
#footer .copyRight{ font-family:Arial; opacity:0.57;}

/*goToTop*/
.goToTop{ display:inline-block; width:2.9em; height:2.9em; text-indent:-9999px; background:url(../images/topBg.png) no-repeat; background-size:29em 17.5em; right:1.9%; top:21%;}
.goToTop11{ background-position:0 0;}
.goToTop12{ background-position:-2.9em 0;}
.goToTop13{ background-position:-5.8em 0;}
.goToTop14{ background-position:-8.7em 0;}

.goToTop21{ background-position:0 -2.9em;}
.goToTop22{ background-position:-2.9em -2.9em;}
.goToTop23{ background-position:-5.8em -2.9em;}
.goToTop24{ background-position:-8.7em -2.9em;}

.goToTop31{ background-position:0 -5.8em;}
.goToTop32{ background-position:-2.9em -5.8em;}
.goToTop33{ background-position:-5.8em -5.8em;}
.goToTop34{ background-position:-8.7em -5.8em;}
.goToTop35{ background-position:-11.6em -5.8em;}
.goToTop36{ background-position:-14.5em -5.8em;}
.goToTop37{ background-position:-17.4em -5.84em;}

.goToTop41{ background-position:0 -8.7em;}
.goToTop42{ background-position:-2.9em -8.7em;}
.goToTop43{ background-position:-5.8em -8.7em;}
.goToTop44{ background-position:-8.7em -8.7em;}
.goToTop45{ background-position:-11.6em -8.7em;}
.goToTop46{ background-position:-14.5em -8.7em;}
.goToTop47{ background-position:-17.4em -8.7em;}
.goToTop48{ background-position:-20.3em -8.7em;}
.goToTop49{ background-position:-23.2em -8.7em;}
.goToTop410{ background-position:-26.1em -8.7em;}

.goToTop51{ background-position:0 -11.6em;}
.goToTop52{ background-position:-2.9em -11.6em;}

.goToTop61{ background-position:0 -14.5em;}
.goToTop62{ background-position:-2.9em -14.5em;}
.goToTop63{ background-position:-5.8em -14.5em;}

/*index*/
.carouselBox{ position:relative;}
.carouselBox .carouselPics li{ float:left; text-align:center;}
.carouselBox .carouselPics li img{ width:100%; vertical-align:middle;}
.carouselBox .carouselBtns{ width:100%; left:0; bottom:5.1%; display:table; z-index:5; text-align:center;}
.carouselBox .carouselBtns li{ display:inline-block; width:1.8%; height:0.4em; margin-left:1.6%; border-radius:0.2em; background:rgba(235,235,235,0.7);}
.carouselBox .carouselBtns li.current{ background:rgba(235,235,235,1);}
.carouselBox .carouselBtns li:first-child{ margin-left:0;}

.menu14{ margin:2.9% 2.8%;}
.menu14 li{ margin-bottom:0.7%; border-radius:0.25em;}
.menu14 li a{ display:block; height:2.6em; overflow:hidden;}
.menu14 li img{ float:left; height:1.8em; margin:2.8% 7.7% 0 3.4%; vertical-align:middle;margin-top:4px;}
.menu14 li span{ float:left; height:1.3em; margin-top:3%; color:#fff; overflow:hidden;}
.menu14 li:nth-child(6n+1){ background:#a3ec8d; background-size:2.4em 2.6em;}
.menu14 li:nth-child(6n+2){ background:#58b5e1; background-size:2.4em 2.6em;}
.menu14 li:nth-child(6n+3){ background:#fac448; background-size:2.4em 2.6em;}
.menu14 li:nth-child(6n+4){ background:#fc6668; background-size:2.4em 2.6em;}
.menu14 li:nth-child(6n+5){ background:#68cf8a; background-size:2.4em 2.6em;}
.menu14 li:nth-child(6n+6){ background:#667cd0; background-size:2.4em 2.6em;}

@media screen and (min-width:480px){
	#container{ font-size:26px;}
	#footer{ font-size:18px;}
	#footer .copyRight{ font-size:16px;}
}
@media screen and (min-width:640px){
	#container{ font-size:30px;}
	#footer{ font-size:22px;}
	#footer .copyRight{ font-size:20px;}
}




