@charset "utf-8";

body{ font:0.75em 'microsoft yahei'; color:#353535;}
a{ text-decoration:none; color:#353535;}
a:hover{ text-decoration:none;}

/*bg*/
.bg28{ background-color:#6a6b70;}

/*container*/
#container{ width:100%; max-width:640px; min-width:320px; margin:0 auto;}

/*footer*/
#footer{ padding:2.3% 2.65%; background-color:#3a4148;}
#footer nav{ margin-bottom:3%; opacity:0.7;}
#footer .copyRight{ font-family:Arial; opacity:0.57;}

/*goToTop*/
.goToTop{ display:inline-block; width:2.9em; height:2.9em; text-indent:-9999px; background:url(../images/topBg.png) no-repeat; background-size:29em 17.5em; right:1.9%; top:21%;}
.goToTop11{ background-position:0 0;}
.goToTop12{ background-position:-2.9em 0;}
.goToTop13{ background-position:-5.8em 0;}
.goToTop14{ background-position:-8.7em 0;}

.goToTop21{ background-position:0 -2.9em;}
.goToTop22{ background-position:-2.9em -2.9em;}
.goToTop23{ background-position:-5.8em -2.9em;}
.goToTop24{ background-position:-8.7em -2.9em;}

.goToTop31{ background-position:0 -5.8em;}
.goToTop32{ background-position:-2.9em -5.8em;}
.goToTop33{ background-position:-5.8em -5.8em;}
.goToTop34{ background-position:-8.7em -5.8em;}
.goToTop35{ background-position:-11.6em -5.8em;}
.goToTop36{ background-position:-14.5em -5.8em;}
.goToTop37{ background-position:-17.4em -5.84em;}

.goToTop41{ background-position:0 -8.7em;}
.goToTop42{ background-position:-2.9em -8.7em;}
.goToTop43{ background-position:-5.8em -8.7em;}
.goToTop44{ background-position:-8.7em -8.7em;}
.goToTop45{ background-position:-11.6em -8.7em;}
.goToTop46{ background-position:-14.5em -8.7em;}
.goToTop47{ background-position:-17.4em -8.7em;}
.goToTop48{ background-position:-20.3em -8.7em;}
.goToTop49{ background-position:-23.2em -8.7em;}
.goToTop410{ background-position:-26.1em -8.7em;}

.goToTop51{ background-position:0 -11.6em;}
.goToTop52{ background-position:-2.9em -11.6em;}

.goToTop61{ background-position:0 -14.5em;}
.goToTop62{ background-position:-2.9em -14.5em;}
.goToTop63{ background-position:-5.8em -14.5em;}

/*index*/
.carouselBox{ position:relative;}
.carouselBox .carouselPics li{ float:left; text-align:center;}
.carouselBox .carouselPics li img{ width:100%; vertical-align:middle;}
.carouselBox .carouselBtns{ width:100%; left:0; bottom:0; display:table; z-index:5; text-align:center;}
.carouselBox .carouselBtns li{ display:inline-block; width:1.8%; height:0.5em; margin-left:1.6%; border-radius:0.25em; background:rgba(235,235,235,0.7);}
.carouselBox .carouselBtns li.current{ background:rgba(235,235,235,1);}
.carouselBox .carouselBtns li:first-child{ margin-left:0;}
.carouselBox .carouselBtnsBg{ width:27.7%; height:1.1em; left:50%; margin-left:-13.8%; bottom:0;background-size:7em 1.5em;}

.menu281{ background:#24272d;}
.menu281 li{ float:left; width:32%; margin:0 0.4% 0.4% 0;}
.menu281 li a{ display:block; height:6.66em; text-align:center; background-color:#2e3035;}
.menu281 li a:hover{ background-color:#256747;}
.menu281 li img{ height:3em; margin:12% 0 6%; vertical-align:middle;}
.menu281 li span{ display:inline-block; width:100%; height:1.3em; color:#acadae; font-weight:bold; overflow:hidden;}
.menu281 li:nth-child(1){ border-bottom:#1f2227 solid 1px; border-right:#333439 solid 1px;}
.menu281 li:nth-child(2){ border-bottom:#1f2227 solid 1px; border-left:#1f2227 solid 1px; border-right:#333439 solid 1px;}
.menu281 li:nth-child(3){ width:32.9%; border-bottom:#1f2227 solid 1px; border-left:#1f2227 solid 1px; margin-right:0;}
.menu281 li:nth-child(4){ border-top:#37393d solid 1px; border-right:#333439 solid 1px; margin-bottom:0;}
.menu281 li:nth-child(5){ border-top:#37393d solid 1px; border-left:#1f2227 solid 1px; border-right:#333439 solid 1px; margin-bottom:0;}
.menu281 li:nth-child(6){ width:32.9%; border-top:#37393d solid 1px; border-left:#1f2227 solid 1px; margin-bottom:0; margin-right:0;}

.menu282{ margin:2.5% 0 0 2.5%;}
.menu282 li{ float:left; width:48.3%; margin:0 1.4% 3.6% 0; background:rgba(194,194,194,0.9);}
.menu282 li a{ display:block; height:15.9em;}
.menu282 li img{ width:100%; height:13.5em; vertical-align:middle;}
.menu282 li span{ display:inline-block; height:2.32em; line-height:2.32em; padding-left:4%; color:#000000; font-weight:bold; overflow:hidden;}

@media screen and (min-width:480px){
	#container{ font-size:18px;}
	#footer{ font-size:15px;}
	#footer .copyRight{ font-size:16px;}
}
@media screen and (min-width:640px){
	#container{ font-size:24px;}
	#footer{ font-size:19px;}
	#footer .copyRight{ font-size:20px;}
}




