@charset "utf-8";

body{ font:0.75em 'microsoft yahei'; color:#353535;}
a{ text-decoration:none; color:#353535;}
a:hover{ text-decoration:none;}

/*bg*/
.bg38{ background-color:#efeff0;}

/*container*/
#container{ width:100%; max-width:640px; min-width:320px; margin:0 auto;}

/*footer*/
#footer{ padding:2.3% 2.65%; background-color:#3a4148;}
#footer nav{ margin-bottom:3%; opacity:0.7;}
#footer .copyRight{ font-family:Arial; opacity:0.57;}

/*goToTop*/
.goToTop{ display:inline-block; width:2.9em; height:2.9em; text-indent:-9999px; background-size:29em 17.5em; right:1.9%; top:21%;}
.goToTop11{ background-position:0 0;}
.goToTop12{ background-position:-2.9em 0;}
.goToTop13{ background-position:-5.8em 0;}
.goToTop14{ background-position:-8.7em 0;}

.goToTop21{ background-position:0 -2.9em;}
.goToTop22{ background-position:-2.9em -2.9em;}
.goToTop23{ background-position:-5.8em -2.9em;}
.goToTop24{ background-position:-8.7em -2.9em;}

.goToTop31{ background-position:0 -5.8em;}
.goToTop32{ background-position:-2.9em -5.8em;}
.goToTop33{ background-position:-5.8em -5.8em;}
.goToTop34{ background-position:-8.7em -5.8em;}
.goToTop35{ background-position:-11.6em -5.8em;}
.goToTop36{ background-position:-14.5em -5.8em;}
.goToTop37{ background-position:-17.4em -5.84em;}

.goToTop41{ background-position:0 -8.7em;}
.goToTop42{ background-position:-2.9em -8.7em;}
.goToTop43{ background-position:-5.8em -8.7em;}
.goToTop44{ background-position:-8.7em -8.7em;}
.goToTop45{ background-position:-11.6em -8.7em;}
.goToTop46{ background-position:-14.5em -8.7em;}
.goToTop47{ background-position:-17.4em -8.7em;}
.goToTop48{ background-position:-20.3em -8.7em;}
.goToTop49{ background-position:-23.2em -8.7em;}
.goToTop410{ background-position:-26.1em -8.7em;}

.goToTop51{ background-position:0 -11.6em;}
.goToTop52{ background-position:-2.9em -11.6em;}

.goToTop61{ background-position:0 -14.5em;}
.goToTop62{ background-position:-2.9em -14.5em;}
.goToTop63{ background-position:-5.8em -14.5em;}

/*index*/
.carouselBox{ position:relative;}
.carouselBox .carouselPics li{ float:left; text-align:center;}
.carouselBox .carouselPics li img{ width:100%; vertical-align:middle;}
.carouselBox .carouselBtns{ width:100%; left:0; bottom:0; display:table; z-index:5; text-align:center;}
.carouselBox .carouselBtns li{ display:inline-block; width:1.8%; height:0.5em; margin-left:1.6%; border-radius:0.25em; background:rgba(235,235,235,0.7);}
.carouselBox .carouselBtns li.current{ background:rgba(235,235,235,1);}
.carouselBox .carouselBtns li:first-child{ margin-left:0;}
.carouselBox .carouselBtnsBg{ width:27.7%; height:1.1em; left:50%; margin-left:-13.8%; bottom:0; background:url(../images/carouselBtnsBg.png) no-repeat center top; background-size:7em 1.5em;}

.menu381{ margin-bottom:2%;}
.menu381 li:nth-child(1),.menu381 li:nth-child(2),.menu381 li:nth-child(3),.menu381 li:nth-child(4),.menu381 li:nth-child(5),.menu381 li:nth-child(6) { float:left; width:33.1%; margin-right:0;margin-bottom:0px;}
.menu381 li:nth-child(1) a,.menu381 li:nth-child(2) a,.menu381 li:nth-child(3) a,.menu381 li:nth-child(4) a,.menu381 li:nth-child(5) a,.menu381 li:nth-child(6) a { display:block; height:6.66em; background:rgba(255,255,255,0.9); text-align:center;}
.menu381 li a:hover{ background:rgba(216,69,24,1);}
.menu381 li a:hover span{ color:#fff;}
.menu381 li:nth-child(1) img,.menu381 li:nth-child(2) img,.menu381 li:nth-child(3) img,.menu381 li:nth-child(4) img,.menu381 li:nth-child(5) img,.menu381 li:nth-child(6) img { height:2.3em; margin:13% 0 7%; width:2.3em;vertical-align:middle;}
.menu381 li:nth-child(1) span,.menu381 li:nth-child(2) span,.menu381 li:nth-child(3) span,.menu381 li:nth-child(4) span,.menu381 li:nth-child(5) span,.menu381 li:nth-child(6) span { display:inline-block; width:100%; height:1.3em; color:#575757; font-weight:bold; overflow:hidden;padding:0 0 0 0;font-size:12px;}
.menu381 li:nth-child(1),.menu381 li:nth-child(2) { border-bottom:#dadadb solid 1px; border-right:#dadadb solid 1px;}
.menu381 li:nth-child(3){ border-bottom:#dadadb solid 1px;}
.menu381 li:nth-child(4),.menu381 li:nth-child(5) { border-right:#dadadb solid 1px;}
.menu381 li:nth-child(4),.menu381 li:nth-child(5),.menu381 li:nth-child(6) {margin-bottom:5px;} 
.menu381 li { float:left; width:47.8%;margin-right:7px;margin-bottom:5px;background-color:#ffffff;}
.menu381 li span{ font-size:14px;padding:4% 0 1% 10%; color:#000000; overflow:hidden;}
.menu381 li img{ width:100%; vertical-align:middle;height:150px;}


@media screen and (min-width:480px){
	#container{ font-size:18px;}
	#footer{ font-size:15px;}
	#footer .copyRight{ font-size:16px;}
}
@media screen and (min-width:640px){
	#container{ font-size:24px;}
}




