@charset "utf-8";
/* CSS Document */

.tiao_content{ margin:0 auto; background:url(../images/5_03_03.png) no-repeat;  background-position: center;height:300px; width:710px; margin-top:13%; font-family: "微软雅黑" ; color:#fefefe;}
.tiao_content1{ margin:0 auto; background:url(../images/5-1_06.png) no-repeat;  background-position: center;height:300px; width:710px; margin-top:13%; font-family: "微软雅黑" ; color:#fefefe;}
.tiao_img{ width:200px; float:left; margin-left:60px; margin-top:40px;}
.tiao_txt{ width:300px; float:right; text-align:left; margin-right:70px; margin-top:12%;line-height:45px; }
.top_txt{ font-size:20px; }
.bot_txt{ font-size:11px; }
.bot_txt a:link {
	color: #fefefe;
}
.bot_txt a:visited {
	color: #fefefe;
}
.bot_txta:hover {
	colo r: #fefefe;
}
.bot_txt a:active {
	color: #fefefe;
}